/*main color */
$gradient: linear-gradient(148deg, #0060df 7%, #0479f4 20%, #0681fc 27%, #02bdf1 60%, #01d3f0 67%, #05f0e6 100%);
$danger: #f44336;
$link: #4285f4;
$active: #5764c6;
$orange--error: #ff7043;
$light_grey: #fafafa;
$color: #606060;
$grey-hover: #f4f6fb;
$skeleton-color: #ededed;
$blue: #009cff;
$input-color: rgba(0, 0, 0, 0.38);

//typo
$base-size: 15px;
